* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

/* ------- temporary style for structural html ------ */
* {
    /* padding: 0.5rem;
    border: 1px solid rgb (225, 225,225); */
}

body { 
    border: none;
    background-color: rgba(4, 43, 59, 0.164);
    font-family: 'Open Sans', sans-serif; 
      
}
html {border: none;}


/* Image style */
.bg-image1 {
    background-image: url('images/pexels-ibrahim-boran-3582560.jpg');
    height: 100vh;
    background-size: cover;
    border-radius: 5px 5px 5px 200px;
    top: 30%;
    bottom: 20%;
}

.bg-image2 {
    background-image: url('images/pexels-vincent-gerbouin-1172518.jpg');
    height: 60vh;
    background-size: cover;
    border-radius: 8px 200px 200px 5px;
    top: 50%;
    bottom: 80%;

}

.bg-image3 {
    background-image: url('images/waves.jpg');
    height: 50vh;
    background-size: cover;
    border-radius: 200px 5px 5px 5px;
    margin-bottom: 0.5rem;
}

/* Header Video */
header {
    position:relative;
    height: 80vh;
    min-height: 3rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }



/* Universal style & utility classes */
.padded { padding: 5%;}
.padded-sm { padded: 1rem;}

.bg-dark { 
    background-color: rgb(4, 43, 59);
    color: rgb(212, 212, 212);
}

.col-12 {
    text-align: center;
    float: center;
    font-size: 2rem;
}

.col-12-middle {
    text-align: center;
    font-size: 1.7rem;
    font-family: 'Open Sans Condensed', sans-serif;
    
}

/* nav bar style */
.menu {
    color: rgb(4, 43, 59);
    font-size: 1rem;
    text-decoration: none;
    float: right;
    display: inline block;
    font-family: 'Open Sans Condensed', sans-serif;
    }
  
  .topnav {
    overflow: hidden;
  }
  
  .topnav a {
   
    display: block;
    color: rgb(4, 43, 59);
    text-align: center;
    padding: 2rem;
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
  
  .topnav a:hover {
    border-bottom: 3px solid rgb(2, 52, 94);
  }
  
  .topnav a.active {
    border-bottom: 3px solid red;
  }
  
  .features {
      text-align: center;
      font-size: 1.5rem;
  }

 

footer {
    font-family: 'Open Sans', sans-serif; 
    font-size: 1rem;
    text-align: center;
}

.komodo {
    color:rgb(2, 52, 94);
    text-align: center;
   font-size: 2rem;
}

.col-6-middle p {
text-align: justify;
}

/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.show-xs, 
.show-sm,
.show-md {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
  .show-md { display: block; }
  .hide-md { display: none;  }
}

/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 

@media (max-width: 48em) {
  .show-sm { display: block; }
  .hide-sm { display: none;  }
	 
  .sm-text-center { text-align: center; }
  .sm-text-left { text-align: left; }
  .sm-text-right { text-align: right; }

  .sm-padded { padding: 5%; }
  .sm-padded-1 { padding: 1rem; }
  .sm-padded-05 { padding: 0.5rem; }

  .sm-padded-t-0 { padding-top: 0; }
  .sm-padded-b-0 { padding-bottom: 0; }
  .sm-padded-l-0 { padding-left: 0; }
  .sm-padded-r-0 { padding-right: 0; }
  
  .sm-margin-t-0 { margin-top: 0; }
  .sm-margin-b-0 { margin-bottom: 0; }
  .sm-margin-l-0 { margin-left: 0; }
  .sm-margin-r-0 { margin-right: 0; }
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {
  .show-xs { display: block; }
  .hide-xs { display: none;  }
}